:root {
    --paint-font: 'Arial', sans-serif;
    --top-bar-color: #C0C0C0;
    --padding-body: 16px;
    --tool-bar-side: 24px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}

body {
    font-family: var(--paint-font);
    background-color: #222;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
    padding-top: var(--padding-body);
    padding-bottom: var(--padding-body);
    padding-right: var(--padding-body);
    padding-left: var(--padding-body);
}

h1 {
    color: #FCE300;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 4px;
    margin-bottom: 10px;
}

h1 > img {
    width: 16px;
    height: auto;
}

.paint-container {
    border-width: 1px;
    border-color: #808080;
    border-style: solid;
    display: grid;
    grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
}

header {
    //grid-area: header;
    background-color: var(--top-bar-color);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-left: 2px;
    grid-area: header;
}

header > button {
    border-width: 0;
    background-color: transparent;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
    padding-left: 4px;
}

header > button:hover {
    box-shadow: 
        1px 1px black,
        inset -1px -1px gray,
        inset 1px 1px white;
}

aside {
    background-color: silver;
    width: 52px;
    padding-top: 2px;
    grid-area: aside;
}

aside > nav {
    display: flex;
    flex-wrap: wrap;
}

aside button {
    width: var(--tool-bar-side);
    height: var(--tool-bar-side);
    background-color: #BDBDBD;
    background-image: url("./icons/draw.png");
    background-repeat: no-repeat;
    background-position: center;
    border-size: 1.5px;
    border-style: solid;
    border-color: #EEE;
    border-right-color: #000;
    border-bottom-color: #000;
    image-rendering: pixalated;
}

aside button:disabled {
    pointer-events: none;
    opacity: .5;
}

nav > button.active {
    background-color: #EEE;
    border-color: #000;
    border-right-color: #EEE;
    border-bottom-color: #EEE;
}

#erase-button {
    background-image: url("./icons/erase.png");
}

#rectangle-button {
    background-image: url("./icons/rectangle.png");
}

#ellipse-button {
    background-image: url("./icons/ellipse.png");
}

#picker-button {
    background-image: url("./icons/picker.png");
}

#clear-button {
    background-image: url("./icons/trash.png");
    background-size: 18px;
}

main {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
    grid-area: main;
}

canvas {
    background-color: #FFF;
}

footer {
    background-color: silver;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
    padding-left: 4px;
    grid-area: footer;
}